<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout
                pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="File" fileName="logs/app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        <Async name="Async">
            <AppenderRef ref="File" />
        </Async>
    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>
        <logger name="com.danielpsf.labs" level="DEBUG">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </logger>
    </Loggers>
</Configuration>